html {
  background-color: #323232;
  color: #d2d2d2;
}
img {
  width: 100%;
  height: auto;
}
.nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav a{
  text-decoration: none;
  color: #d2d2d2;
}

.nav a:hover{
  text-decoration: underline;
  color: #7f7f7f;
}

.header {
  background-color: #d2d2d2;
}

.h1 {
  display: flex;
  justify-content: center;
}

.img {
  margin-top: 30px;
}

.hlist ul{
  display: flex;
  justify-content: space-around;
}

.hlist img{
  width: 233px;
  height: auto;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}
@media screen and (min-width: 550px){
  .grid{grid-template-columns: 1fr 1fr;}
}
@media screen and (min-width: 767px){
  .grid{grid-template-columns: 1fr 1fr 1fr;}
}
@media screen and (min-width: 1080px){
  .grid{grid-template-columns: 1fr 1fr 1fr 1fr;}
}
